@charset "utf-8";
/*@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);*/
/*초기회  css 시작*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin:0; padding:0 }
body, input, textarea, select, button, table { font-size:14px; line-height:1.25em; font-family:'Noto Sans KR','나눔고딕', NanumGothic, Helvetica, AppleGothic, Sans-serif, ngwoff, ngeot, '굴림', gulrem; }
html, body { height: 100%; padding:0; margin:0; }
img, fieldset { border:0 }
ul, ol { list-style:none }
em, address { font-style:normal }
a { text-decoration:none }
a:hover, a:active, a:focus { text-decoration:none }
/*초기화 css 끝*/

/* 헤더 시작 */
header { width: 100%; height: 100px;  background-color: #081856; color: #fff; position: fixed; z-index: 5; }
header li { float: left; }
header::after { content: ""; clear: both; display: block; }
.header_contain { width: 100%; max-width: 1440px; margin: 0 auto; }
.header_contain::after { content: ""; clear: both; display: block; }
h1#logo > img { width: 200px;}
h1#logo { float: left; line-height: 100px; vertical-align: middle; }
nav { line-height: 95px; vertical-align: middle; }
.main_nav { float: left; font-size: 18px; font-weight: 400; margin-left: 30px; }
.main_nav ul li { width: 105px; margin-left: 10px; text-align: center;}
.main_nav ul li:hover { border-bottom: 5px solid; }
.main_nav ul li a { color: #fff; }
.log_nav { float: right; font-weight: 300; margin-top: 40px; }
.log_nav li { padding-left: 10px; }
.log_nav a { color: #fff; }

.sub_nav { width: 100%; background: #eee; padding-top: 20px; padding-bottom: 20px; display: none; position: relative; }
.sub_nav ul { float: left; width: 105px; text-align: center; padding-left: 10px; font-size: 15px; font-weight: 500; }
#sub_nav_first  { margin-left: 230px; }
.sub_nav li { margin-top: 15px; color: #333; display: block; width : 100%; }
.sub_nav::after { content: ""; clear: both;  display: block; }
.sub_nav_contain { width: 100%; max-width: 1440px; margin: 0 auto; }
.show { display: block; }

/* 헤더 끝 */

/* footer 시작  */

footer { width:100%; background: #e9e9e9; }
.footer_nav { width: 100%; border-bottom: 1px solid #fff; }
.footer_nav li { float: left; text-align: center;}
.footer_nav a { padding: 10px 20px 10px 0; display: block;}
.footer_nav::after { content: ""; clear: both; display: block; }
.footer_contain { max-width: 1440px; margin: 0 auto; }

/* footer 끝  */

/* 주문서  시작  */

section.title { width:100%; height: 200px; padding-top: 100px;  }
.order { background: url('../img/bg/section_01_bg.png') no-repeat; background-size:cover;  }
.title h2 { text-align: center; line-height: 200px; color: #fff; font-size: 30px; }

section.order_info { max-width: 1200px; margin: 30px auto; text-align: center; }
section.order_info::after { clear: both; content:''; display:block; }
div.customer_table  { width: 590px; float: left; margin-right: 20px; }
div.company_table { width: 590px; float:right; }
section.order_info table , section.order_info th , section.order_info td { border: 1px solid #000; border-collapse: collapse; }
section.order_info td { text-align: left; padding-left: 20px; }
.order_info tr { height: 50px; }
.table_title  { width: 189px;  border: 1px solid #000; }
.table_content { width: 400px; border: 1px solid #000; }

section.item_table { max-width: 1200px; margin:0 auto; }
section.item_table::after { clear:both; content:''; display:block; }
div.item_table_head { height: 40px; border-bottom: 2px solid #ddd; text-align: center; }
div.item_table_head > div , div.item_row > div { float: left; }
div.item_table_head span { font-size: 16px; font-weight: 600; }
div.item_thumb { width: 150px; }
div.item_name { max-width: 650px; width: 100%; }
div.item_per_price , div.item_price , div.item_count , div.item_vat { width: 100px; text-align: center; }
div.item_row { height: 150px; line-height: 150px; }
div.item_row div.item_thumb img { max-width: 110px; margin: 20px; }
div.item_row div.item_thumb { height: 150px; }
div.item_row input { width: 90%; }

div.item_sum { max-width: 1200px; margin: 20px auto; text-align: center; height: 50px; font-size: 20px; border-top: 2px solid #ddd; border-bottom: 2px solid #ddd; padding: 20px 0; line-height: 50px; }
div.item_sum::after { content:''; clear:both; display:block; }
div.item_sum div { width: 25%; float: left; }

div.order_button > a { display: block; padding : 10px 20px; float: right; color: #fff; border-radius: 3px; margin-right: 10px; margin-bottom: 50px; }
div.order_button::after { content: ''; clear: both; display: block; }
.print_order , .out_order { background: #c4c4c4; }
.submit_order { background: #0275D8;}

div.order_form { max-width: 1200px; margin: 0 auto; }
div.order_form { content: ''; display:block; clear:both;  }
div.order_form > div { float: left; }
div.order_place { width: 40%; min-width: 200px; }
div.order_place input { display: block; }
div.ordre_place h6 { width: 80px; height: 100%; float: left;}
div.pay_order { width: 20%;  min-width: 150px; }
div.order_complete { width : 40%; text-align: right; }
div.order_complete a { padding : 10px 20px; background: #0275D8; border-radius: 3px; color: #fff; }

/* 주문서 끝  */
