@charset "utf-8"

/* main_page 섹션 시작 */

section { display: block ; }
.section_main_01 { width: 100%; height: 100vh; overflow: hidden;  z-index: -1; }
.section_main_01 .text_box { margin-top: 300px; color:#fff; }
.section_main_01 .text_box a { color: #fff; margin-top: 15px;}
.section_main_01 .text_box a:hover {background-color: #fff; color: #333; border-color:#fff;  }
.section_main_01 .text_box h2, .section_main_01 .text_box p { max-width: 500px; }
#main_01_bg { background: url('../img/bg/section_01_bg.png') no-repeat; background-size:cover; }


.section_main_02 { width: 100%; height: 650px; background-color: #fff; z-index: 0;  color: #222; overflow: hidden;}
.section_main_02::after { content: ""; clear: both; display: block; }
.section_main_02 .text_box { width: 720px; float: right; margin-top: 130px; }
.section_main_02 .text_box h2, .section_main_02 .text_box p { max-width: 500px; float: left; }
.section_main_02 .title_under_line { border-color : #FFD646; }
.section_main_02 .half_screen { height: 650px; }


.section_main_03 { width: 100%; height: 630px; overflow: hidden; background: #fff; color: #222; }
#flow_container { width: 50%; overflow: hidden; height: 100%; float: left }
#flow_container ul { width: 2100px; }
#flow_container ul::after { content: ""; clear: both; display: block; }
#flow_container li { float: left; }
#flow_container img { width: 210px; }
.section_main_03 .text_box { width: 720px; float:left; margin-top: 130px; }
.section_main_03 .text_box h2, .section_main_03 .text_box p { max-width: 500px; float: right; margin-left: 50px; text-align: right; }
.section_main_03 .title_under_line { border-color : #FFD646; }


.section_main_04 { background: #fff; color: #222; }
.section_main_04 .text_box { width: 1000px; margin: 0 auto; padding-top: 100px; text-align: center; }
.s4_img_box img { width: 700px; margin: 50px auto 0; display: block;}
.section_main_04 .title_under_line { border-color : #FFD646; }

.main_btn { padding: 10px 20px; display: block; width:65px; border: 1px solid; text-align: center; }
.slide_up_ani { animation-delay : 1s; animation-name : slideup ;  animation-duration: 1s; }

@keyframes slideup {
  from {
    top:100px;
    opacity: 0;
  }
  to {
    top: 0px;
    opacity: 1;
  }
}
/* main_page 섹션 끝 */
