/* QnA 시작  */

section.title { width:100%; height: 200px; padding-top: 100px;  }
.qna { background: url('../img/bg/section_01_bg.png') no-repeat; background-size:cover;  }
.title h2 { text-align: center; line-height: 200px; color: #fff; font-size: 30px; }

section.board { width: 80%; max-width: 1440px; margin: 50px auto ; }
.board_nav li { width: 90px; height: 50px; display: block; float: left; background: #081856; color: #fff; line-height: 50px; text-align: center; border-left: 1px solid #979797; }
.board_nav li.selected { background: #FFD646; color: #000; border: none; }
.board_nav li.pull_tax { width: 150px; }
.board_nav::after { clear: both; content: ""; display: block; }
.board_nav { margin-bottom: 30px; }
table.board { width: 100%; text-align: center;  }
table.board tr { height: 40px; border-top: 1px solid #eee; }
.title_left { text-align: left; }
table.board td { border-top: 1px solid #eee; }
col.board_no { min-width: 100px; width: 5%; }
col.board_title { min-width: 600px; width: 75%; }
col.board_date , col.board_author { min-width: 200px; width: 10%; }

div.page_nav { position: relative; width: 240px; margin: 0 auto; text-align: center; line-height: 20px; }
.page_before , .page_next { width: 20px; float: left ; }
div.page_nav li { width: 25px; height: 20px; float: left; }
div.page_nav li.active { background-color: #081856; border-radius: 3px; color: #fff; }
div.page_nav ul { display: inline; }
div.page_nav li:hover { background: #eee; }


/* QnA  끝  */
/* QnA_글쓰기 시작  */

section.title { width:100%; height: 200px; padding-top: 100px;  }
.qna { background: url('../img/bg/section_01_bg.png') no-repeat; background-size:cover;  }
.title h2 { text-align: center; line-height: 200px; color: #fff; font-size: 30px; }

section.board_write { max-width: 1200px; margin: 50px auto; }
section.board_write::after { content: ""; display: block; clear: both; }
.input_text { width: 320px; float: left; height: 120px; }
.input_text label { width: 60px; display: block; float: left; text-align: center; background:#DADADA; height: 30px; line-height: 30px; border: 2px solid #ccc;border-radius: 3px 0 0 3px; }
.input_text input { width: 242px; height: 28px; border: solid #ccc; border-radius: 0 3px 3px 0;  border-width: 2px 2px 2px 0; padding-left: 10px; }
.input_row { margin-bottom: 10px; }
.input_checkbox { height: 30px; margin-top: 90px; line-height: 30px; float: left; margin-left: 20px; }
.write_label::after {content: ""; display:block; clear: both; }

div.qna_cat { width: 424px ; height: 45px; background: #008CBA; border-radius: 22px; overflow: hidden; margin-top: 20px; margin-bottom: 20px; color: #fff ;}
div.qna_cat li { width: 105px; ; text-align: center; float: left; line-height: 45px; border-right: 1px solid #fff;  }
div.qna_cat li:last-child { border:none; }
div.qna_cat::after {content: ""; display: block; clear: both; }

section.board_write .text_area  { width: 100%; margin: 0 ; }
.text_area textarea { width: 100%; height: 300px; }

div.send { width: 145px; height: 45px; float: right; background: #008CBA; border-radius: 1px; margin: 20px 0 0 0 ; }
div.send a { width: 100%; line-height: 45px; display: block; color: #fff; text-align: center;}
div.send:after { content: ""; clear: both; display: block; }

/* QnA_글쓰기 끝  */
